*{
    /* box-sizing: border-box; */
    padding: 0;
    margin: 0;
}
.box-sizing{
    background-color: purple;
    height: 700px;
    width: 700px;
    margin: auto;
    margin-top: 60px;

    /* Using Flex  */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    /* Using Grid  */
    /* display: grid;
    place-items: center; */

    /* Using Position and Transform  */
    /* position: relative; */
}
.content-box{
    background-color: red;
    height: 200px;
    width: 200px;
    box-sizing: content-box;
    padding: 80px;

    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}


.border-box{
    background-color: green;
    height: 200px;
    width: 200px;
    box-sizing: border-box;
    padding: 80px;
}

/* Position with Z-index BD-Flag  */
.flag-green{
    height: 300px;
    width: 500px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.flag-rounded-red{
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
.flag-rounded-white{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}